fastapi
uvicorn
pydantic
scikit-learn
numpy==1.26.4
joblib
chromadb
openai
python-dotenv

torch==2.0.1 --index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.2.2
transformers==4.30.2
huggingface-hub==0.14.1